In [2]:
import pandas as pd

In [4]:
data = pd.read_stata("CCES16_Common_OUTPUT_Feb2018_VV.dta")
# Display the first 5 rows
print(data.head())

        V101  commonweight_vv  commonweight_vv_post  commonweight_vv_lgbt  \
0  222168628         1.344214              1.042267              1.195346
1  273691199         1.182352              1.280103              1.280565
2  284214415         0.217396                   NaN              0.248930
3  287557695         0.532320                   NaN              0.928750
4  290387662         1.261106              1.092519              1.161894

   commonweight  commonweight_post tookpost lookupzip     inputstate cdid113  \
0      0.944967           0.730450      Yes     03442  New Hampshire       2
1      0.767256           0.892838      Yes     70118      Louisiana       2
2      0.090604           0.000000       No     63851       Missouri       8
3      0.142583           0.000000       No     36703        Alabama       7
4      1.206498           1.019007      Yes     80526       Colorado       2

   ... CL_E2016PPEP CL_E2016PPVM CL_E2016PEP CL_E2016PVM  \
0  ...
1  ...
2  ...
3  ...
4  ...

            starttime_pre             endtime_pre          starttime_post  \
0 2016-10-20 05:05:44.887 2016-10-20 05:36:38.850 2016-11-16 06:24:32.895
1 2016-10-23 14:54:58.548 2016-10-24 14:20:41.711 2016-11-30 14:02:55.143
2 2016-10-29 06:54:12.797 2016-10-29 07:24:44.759                     NaT
3 2016-10-27 11:06:21.322 2016-10-27 11:26:00.051                     NaT
4 2016-10-10 10:56:31.061 2016-10-10 11:14:12.215 2016-11-18 09:09:28.044

             endtime_post    dma                     dmaname
0 2016-11-16 06:40:18.810    NaN
1 2016-11-30 14:09:26.931  622.0                 NEW ORLEANS
2                     NaT  632.0  PADUCAH-CAPE GIRARD-HARSBG
3                     NaT  698.0            MONTGOMERY-SELMA
4 2016-11-18 09:21:05.905  751.0                      DENVER

[5 rows x 563 columns]